<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Home</display-name>

    <servlet>
        <servlet-name>homeServlet</servlet-name>
        <servlet-class>dom.mateacademy.demoservlet.controller.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>viewAllServlet</servlet-name>
        <servlet-class>dom.mateacademy.demoservlet.controller.ViewAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewAllServlet</servlet-name>
        <url-pattern>/view-all</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>createNewProductServlet</servlet-name>
        <servlet-class>dom.mateacademy.demoservlet.controller.CreateNewProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createNewProductServlet</servlet-name>
        <url-pattern>/create-product</url-pattern>
    </servlet-mapping>

</web-app>